.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
rsconnect
.Renviron
# Ignore data files of various formats.
# A non-exaustive list. 
# Common text files that may contain data #
###########################################
*.[cC][sS][vV]
*.[tT][xX][tT]
*.[sS][qQ][lL]
# Excel files (including macros and templates) #
################################################
*.[xX][lL][sS][xXmMtT]?
# Any RDA files
*.[rR][dD][aA]?
data/*
data_temp/*
rda_archive/*
/doc/
/Meta/
inst/review/*
!review/temp/.gitkeep
# Any docx files
*.[dD][oO][cC][xX]
*.tmp
inst/doc
